@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.2em;
   row-gap: 10px;
   font-family: 'PT Mono', monospace; 
}

button {
    padding: 10px;
    font-size: 16px;
}