@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
    font-family: 'PT Mono', monospace, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
}

.btn {
    padding: 10px;
    font-size: 0.9em;
}

