@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border-style: none;
    box-sizing: border-box;
}

:root {
    ---background-body: #0b493480; 
    ---conteiner-tabela: #2c878a1c;
    ---background-tabela-tr: #2d2e2e9d;
    ---background-titulo-tabela: #141414a4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(---background-body);  
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    row-gap: 15px;  
    padding: 15px;
}

h1 {
    font-family: 'PT Mono';
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
    margin: 10px;
}

button {
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(58, 53, 46, 0.233);
    transition: all 0.5s cubic-bezier(0.76, -0.08, 0.4, 1.38);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.253);
}

button:hover {
    transform: scale(1.01);
    background-color: rgba(51, 46, 46, 0.445);
    box-shadow: 1px 1px 2px 1px black;
    color: rgba(241, 214, 163, 0.836);
}

p {
    font-weight: normal;
    font-size: 17px;
    padding: 5px;
}

.conteiner-tabela {
    position: absolute;
    right: 1%;
    bottom: 1%;
    transform:  translate(right);
    width: 250px;
    background-color: var(---conteiner-tabela);
}

table{
    border-collapse: collapse;
}

th, td {
    border: solid 1px black;
    padding: 5px;
}

th {
    background-color: var(---background-titulo-tabela);
}

tr:nth-child(even) {
   background-color: var(---background-tabela-tr);
}
