body {
    background: rgb(70, 142, 236);
    font: normal 16px  Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
}

.btn {
    padding: 10px;
    font-size: 14px;
}

img {
    padding-top: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}