@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    border-style: none;
}

body {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(101, 121, 141);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
}

input:nth-child(1) {
    padding-left: 10px;
}

.btn {
    transition: all 0.5s ease-in;
    padding-right: 10px;
    font-weight: 600;
}

.btn:hover {
    background-color: rgba(29, 13, 29, 0.26);
    transform: scale(0.9);
    color: rgba(253, 254, 255, 0.815);
}
