body {
    background: rgb(70, 142, 236);
    font: normal 16px  Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu {
    margin: 15px 0;
}

label {
    font-weight: bold;
}

input:nth-child(2) {
    padding: 3px 3px 3px 8px;
}

.btn {
    font-size: 16px;
    padding: 2px;
}

.tabu {
    background-color: rgba(11, 47, 47, 0.157);
    border: 1px solid;
    padding: 5px 15px;
    overflow: scroll;
    border-radius: 2px;
}

p {
    opacity: 65%;
}

.msg-erro {
    color: #050000;
    background-color: #ff000061;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.85;
    box-shadow: 2px 3px 6px 0px #5f5b5b85;
    transition: all 0.5s ease;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
