@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    ---background: #007a7852;
    ---btn: #868f8fa9;
    ---hover-btn: #3d7474a8;
}

body {
    font-family: 'PT Mono', monospace, sans-serif;
    background-color: var(---background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1, h2 {
    margin: 25px 0;
}

.conteiner {
    margin: 20px 0;
}

.conteiner, p {
    font-size: 1.1em;
}

input {
    padding: 2px 4px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn {
    padding: 9px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(---btn);
    transition: all 0.3s ease-in;
}

.btn:hover {
    background-color: var(---hover-btn);
    transform: scale(1.1);
}

p{
    margin: 10px;
}

.msg-error {
    color: #050000;
    background-color: #ff000061;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.85;
    box-shadow: 2px 3px 6px 0px #5f5b5b85;
}

.res {
    width: 80%; 
}