@charset "UTF-8";

body {
    background: rgb(70, 142, 236);
    font: normal 16px  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.items {
    margin: 10px;
}

#numberend {
    margin-left: 18px;
}

#numberstart {
    margin-left: 6px;
}

.btn {
    font-size: 17px;
    padding: 4px;
    margin: 15px 0;
}

.msg-erro {
    color: #050000;
    background-color: #ff000061;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.85;
    box-shadow: 2px 3px 6px 0px #5f5b5b85;
    transition: all 0.5s ease;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
